<% layout('main_template') -%>
<header class="main-header">
  <div class="container">
    <h1 class="page-title">Branding Page</h1>
    <ol class="breadcrumb pull-right">
      <li><a href="#">Pages</a></li>
      <li><a href="#">Form</a></li>
      <li class="active">Branding Page</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="title-logo animated fadeInDown animation-delay-5">artificial<span>reason</span></div>
    </div>
    <div class="col-md-7">
      <h2 class="right-line">Who are you... Who you are… Who you want to be</h2>
      <p>…Identify</p>
      <p>…Aspire</p>
      <p>…Achieve</p>
      <p>Having a thorough understanding of your personal brand will provide clarity for your development as a coach. Even more,
      controlling your brand is critical to your career development.</p>
    </div>
    <div class="col-md-5">
      <h2 class="right-line">Our Approach</h2>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-link">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
              <i class="fa fa-lightbulb-o"></i> Who are you?
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
            <div class="panel-body">
              <p>How do you envision yourself?</p>
              <p>What is your perception of how the world sees you?</p>
              <p>What is your current digital footprint?</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-link">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
              <i class="fa fa-desktop"></i> Who you are?
            </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <p>How does the world see you?</p>
              <p>In the media and social media (graphic – perhaps sample section from brand page) As a coach (players that have gone on to play at the next level, other “where are they now stories”) By the numbers (statistical successes, winning teams/records, etc) In the community (good works/volunteering)</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-link">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
              <i class="fa fa-user"></i> Who you want to be?
            </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <p>The power of your brand is fully realized when it is understood, grown and maintained. We combine our technology and
              expertise with your brand goals to help you achieve and maintain your desired brand.</p>
              <p>Our advanced capabilities present a multi-faceted view of your brand and digital footprint and unveil the pathway for
              what you aspire your brand to be.</p>
              <p>Opportunity is found at the crossroads of knowing who you are, where you have been and in unlocking the power to see
              where you are going.</p>
              <p>We will be the beacon to discover and brand the real you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="right-line">What do we do?</h2>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Cloud Computing</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Web Design and SEO</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Mobile and Tablet Apps</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Wordpress Themes</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Training and development</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon">
        <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin">Customer service</h3>
          <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique,
            necessitatibus odit vero sunt.</p>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div>
