<% layout('main_template') -%>
<header class="main-header">
  <div class="container">
    <h1 class="page-title">FAQ</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="/">Pages</a></li>
      <li><a href="/">Help</a></li>
      <li class="active">FAQ</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">
    <section>
      <div class="col-xs-12">
        <p class="faq-description">
          We welcome your questions and input.
          If you don't see an answer to a question you have, please send us your question!
          We will get right on it and get you a response quickly!
        </p>
      </div>
    </section>
    <div class="col-md-8">
      <h2 class="section-title">List of Questions</h2>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
              1. Who will be able to see the Cultural Fit Information?
            </a>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              Only you and authorized members of your coaching staff will be able to view your Cultural Fit pages.
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
              2. Who will be able to see the information and pages regarding our Athlete’s Assessment?
            </a>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              Only you and authorized members of your coaching staff will be able to view your Athlete’s Assessment pages and information.
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
              3. How many times should a player take the athlete assessment?
            </a>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              Once is most often enough, but we recommend no more than once every two years.
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
              4. Who will be able to see my Digital Brand Profile?
            </a>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              Only you and anyone you share your profile with will be able to view your Digital Brand Profile?
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
              5. How often should a coach’s Digital Brand be reviewed?
            </a>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              While it is encouraged that your Digital Brand be monitored on a regular basis (i.e. monthly or when something significant happens
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading panel-plus-link">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
              6. What is an AgDiago?
            </a>
          </div>
          <div id="collapseSeven1" class="panel-collapse collapse">
            <div class="panel-body">
              AgDiago is an acronym that stands for A Good Defense Is A Good Offense.
            </div>
          </div>
        </div>
      </div> <!-- panel-group -->
    </div> <!-- col-md-8 -->
    <div class="col-md-4">
      <h2 class="section-title">More Questions?</h2>

      <form role="form">
        <div class="form-group">
          <label for="InputName">Name</label>
          <input type="email" class="form-control" id="InputName" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="InputEmail">Email</label>
          <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="InputText">Question</label>
          <textarea id="InputText" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-ar btn-success btn-lg btn-block">Send question</button>
      </form>
      <div class="contact-info">
        <h3>Contacts</h3>
        <address>
          <strong>Clean Concept, Inc.</strong><br>
          894 Folsom Ave, Suite 655<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <!-- Business Hours -->
        <h3>Business Hours</h3>
        <ul class="list-unstyled">
          <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
          <li><strong>Saturday:</strong> 9am to 2pm</li>
          <li><strong>Sunday:</strong> Closed</li>
        </ul>
      </div>
    </div>
  </div> <!-- row -->
</div>
