<% layout('main_template') -%>
<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">AgDiago</h1>
            <img src="assets/img/logo_raw_white.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Helping coaches and athletes build a culture of excellence</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">AgDiago is a sports technology and analytics company that combines deep sports knowledge and expertise with advanced data analytics and artificial intelligence to create an overall player to coach cultural fit.  </p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-4 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-hand-o-right"></i></span>
                    <h3>Coaches Corner</h3>

                    <p class="text-center">Coach Fit Assessment</p>
                </div>
                <div class="col-sm-4 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-male"></i></span>
                    <h3>The Player</h3>
                    <p class="text-center">Player Fit Assessment</p>
                </div>
                <div class="col-sm-4 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-database"></i></span>
                    <h3>Fit Score</h3>
                    <p class="text-center">Coach to Player Cultral Fit Ranking Service</p>
                </div>

            </div>
        </div>
    </div>
</header>
