<% layout('main_template') -%>
<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Helping coaches and athletes build a culture of excellence</h1>
            <p class="lead text-center animated fadeInUp animation-delay-14">AgDiago is a sports technology and analytics company that combines deep sports knowledge and expertise with advanced data analytics and artificial intelligence to create an overall player to coach cultural fit.  </p>
        </div>
    </div>
</header>
