<% layout('main_template') -%>
<header class="main-header">
  <div class="container">
    <h1 class="page-title">Team</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="/">Pages</a></li>
      <li class="active">Team</li>
    </ol>
  </div>
</header>

<div class="container team-body">
  <a href="/">
    <div class="header-full-title body-logo">
      <div class="clearfix"></div>
      <h1 class="animated fadeInRight"></h1><br>
    </div>
  </a>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary animated fadeInDown animation-delay-4">
            <div class="panel-heading"><i class="fa fa-align-left"></i> About us</div>
            <div class="panel-body">
              <p>The AgDiago team is comprised of top experts in technology and sports who possess industry leading knowledge and
                experience. Our team combines more than a century of experience in technology, coaching, athletics and business
                to work with you and guide you to victory on the field and beyond the game.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h2 class="right-line">Mission Statement</h2>
          <p>To help coaches and athletes create and build winning cultures and winning teams utilizing advanced technology,
            analytics and behavioral science.</p>
        </div>
      </div> <!-- row -->
    </div>
    <div class="col-md-6">
      <aside class="sidebar">
        <div class="panel panel-primary animated fadeInDown animation-delay-8">
          <div class="team-rightside">
            <img src="/assets/img/teamPlaceholderImage.png">
          </div>
        </div>
      </aside>
    </div>
  </div> <!-- row -->
</div>
