<section class="wrap-dark-color">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon">
                    <i class="fa fa-desktop"></i>
                    <h4>Retina</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-download"></i>
                    <h4>Downloads</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-html5"></i>
                    <h4>HTML 5</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>