<% layout('../layout_main') -%>
<!-- Slider -->
<style lang="scss">
  .glyphicon-chevron-right, .glyphicon-chevron-left {
    color: grey;
  }

  .carousel-indicators > li{
    border-color: grey;
  }

  .carousel-indicators .active {
    background-color: grey;
  }

  .item > img {
    height: 500px!important;
    background-color: cornflowerblue;
  }
</style>

<header class="main-header">
  <div class="container">
    <h1 class="page-title">Player Assessment</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="#">Dashboard</a></li>
      <li class="active">Player Assessment</li>
    </ol>
  </div>
</header>

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-12 padding-40">
        <p class="slogan no-margin">
          The Athlete Assessment is specifically designed to measure the presence of <span>naturally recurring patterns of thought, feeling and behavior</span> that can be productively applied as an athlete.
          The personal characteristics being evaluated are innate and cannot be learned.
          The assessment is designed to <span>better understand instinctive responses</span> to the various circumstances and opportunities that may factor into an athlete's fit within a program.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-12">
        <h2 class="right-line">Win the game, then play the game...</h2>
      </div>
      <div class="col-md-6">
        <div class="content-box box-default">
          <div class="row">
            <div class="col-md-12">
              <!-- <h4 class="content-box-title margin-small">Lorem ipsum dolor sit amet</h4> -->
              <p>Our data analytics platform provides unrelenting focus toward enhancing your program.  We identify and unlock key performance attributes in your athletes that transform a winning edge into a winning formula.</p>
            </div>
          </div>
        </div>
        <hr class="dotted">
        <div class="content-box box-default">
          <div class="row">
            <div class="col-md-12">
              <p>AgDiago is a powerful and valuable partner for you, your coaching staff and your program.  Our athlete assessment technology provides the ability to transcend traditional recruiting processes and talent reviews, allowing you to spend less time recruiting and more time coaching.</p>
            </div>
          </div>
        </div>
        <hr class="dotted">
        <div class="content-box box-default">
          <div class="row">
            <div class="col-md-12">
              <p>Interactive dashboards specific to each player help maximize the volume of coachable athletes and prospects, decrease player attrition and enhance the overall experience for the athlete and your program.</p>
            </div>
          </div>
        </div>
        <hr class="dotted">
        <div class="content-box box-default">
          <div class="row">
            <div class="col-md-12">
              <p>We provide the capabilities and services to assess the various strengths of your program from coach to player and bring clarity to your recruiting process with the overall vision: help you to see the unseen and build your winning culture!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <blockquote class="blockquote-color">
          <p>The presence of specific natural behaviors within an individual allows one to exceed the demands of a role, when augmented with the appropriate knowledge, skills and experiences.  This assessment evaluates how your characteristics align with typical characteristics of successful athletes which helps us understand how you naturally and consistently behave in ways that will lead to performance excellence.</p>
        </blockquote>

        <div class="row">
          <div class="col-md-12 margin-top">
            <a href="#" class="button button-3d button-primary button-rounded">Cultural Fit Dashboard</a>
          </div>

          <div class="col-md-12 margin-top">
            <a href="#" class="button button-3d button-caution button-rounded">Athlete Assessment Workroom</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- container -->
